/*.col{
	background-color:gray;
	border:2px solid black;
}*/
body{
	background-image:url(cup.jpeg);
	background-size:cover;

}
h5{
	text-align:center;
	color:white;
	font-family:"Poiret One", cursive;
	font-weight:bold;
	font-size:2rem;
	padding:700px 200px 150px 200px;

}
hr{
	
	border-bottom:4px solid orange;
	width:70px;
	border-radius:0.1px 0.1px 0.1px 0.1px;
}
.btn-primary{
	border-color:red;
	border-radius:25px 25px 25px 25px;
	margin-left:600px;
	margin-bottom:300px;
	margin-top:50px;
	text-transform:uppercase;
	background-color:orange;
	display:flex;
	justify-content:center;
}
.btn-primary:hover{
	background-color:black;
}